@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}
header{
    z-index: 999;
    position:relative;
    min-width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #23252B;
    padding: 0 30px;
    line-height: 60px;
    transition: 0.6s;
}
header .logo{
    display: flex;
    gap: 20px;
    align-items: center;
}
.logo .menu-btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.menu-btn .sideNavbar{
    position: fixed;
    width: 90px;
    height: 100vh;
    top: 83px;
    left: 0;
    background: #23252B;
    padding:90px 0;
    transition: 0.5s;
    display: block;
}
.menu-btn .sideNavbar.active{
    width: 15%;
}
.sideNavbar .sideNavbar-Menu{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
}
.sideNavbar .sideNavbar-Menu .sideNavbar-item{
    position: relative;
    width: 100%;
    height: 60px;
    padding: 0 15px;
    transition: 0.3s;
}
.sideNavbar .sideNavbar-Menu .sideNavbar-item a{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    color: #fff;
    transition: 0.3s;
}
.sideNavbar.active .sideNavbar-Menu .sideNavbar-item a .text:hover{
    color: #469DFF;
}
.sideNavbar-item a .menu-icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 55px;
    height: 55px;
    line-height: 60px;
    transition: 0.3s;
    border-radius: 10px;
    font-size: 1.4em;
}
.sideNavbar-item a .menu-icon:hover{
    color: #110111;
    background: #fefefe;
}
.sideNavbar.active .sideNavbar-Menu .sideNavbar-item a .menu-icon:hover{
    background: none;
    color: #fff;
}
.sideNavbar-item a .text{
    position: relative;
    padding: 0 15px;
    height: 60px;
    display: flex;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    font-size: 1em;
    letter-spacing: 1px;
    transition: 0.3s;
}
.sideNavbar.active .sideNavbar-item a .text{
    opacity: 1;
    visibility: visible ;
}
.logo .icon img {
    position: relative;
    max-width: 150px;
    display: flex;
}
header .menu{
    position: relative;
}

header .menu ul{
    display: flex;
    justify-content: center;
    user-select: none;
}
.menu-item a{
    color: #fff;
    font-size: 1em;
    margin: 10px;
    padding: 15px;
}
.menu-item a:hover{
    color: #469DFF;
    transition: 0.3s;
}
.menu-item i{
    margin: 0 10px;
}

.menu-item .sub-menu{
    position: absolute;
    display: block;
    top: 70px;
    right: 0;
    background: #23252B;
    line-height: 40px;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
    pointer-events: none;
    opacity: 0;
    transition: 0.3s;
}
.menu-item:hover .sub-menu{
    pointer-events: all;
    opacity: 1;
}
.menu-item .sub-menu .sub-item{
    position: relative;
    padding: 7px 0;
    cursor: pointer;
    box-shadow: inset 0px -30px 5px -30px rgba(255, 255, 255, 0.2);
}
.menu-item .sub-menu .sub-item:hover{
    background: #4080EF;
}
.menu-item .sub-menu .sub-item:last-child:hover{
    border-radius: 0 0 8px 8px;
}
.menu-item .sub-menu .sub-item a{
    color: #fff;
    font-size: 1em;
    padding: 15px 20px;
}
.mobile{
    display: none;
}
@media only screen and (max-width: 767px) {
    header{
        padding: 0 10px;
    }
    header .logo{
        gap: 5px;
    }
    .logo .menu-btn svg{
        width: 20px;
    }
    .menu-btn .sideNavbar{
        position: fixed;
        min-width: 190px;
        height: 100vh;
        top: 60px;
        left: -100%;
        background: #23252B;
        padding:90px 0;
        overflow-y: auto;
        visibility: hidden;
        transition: 0.5s;
        transition-property: left, visibility;
        display: block;
    }
    .menu-btn .sideNavbar.active{
        left: 0;
        visibility: visible;
    }
    .sideNavbar-item a .menu-icon{
        font-size: 1em;
    }
    .sideNavbar-item a .text{
        font-size: 0.8em;
    }
    .icon a img{
        width: 100px;
    }
    .menu.collections{
        display: none;
    }
    .mobile{
        display: block;
    }
    .menu-item a{
        font-size: 0.75em;
        margin: 5px;
        padding: 5px;
    }
    .menu-item a i{
        margin: 0;
        padding: 0;
    }
    .fas.fa-angle-down{
        display: none;
    }
    .menu .sub-menu{
        display: none;
    }
    .cart,.login{
        display: none;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    header{
        padding: 0 30px;
        line-height: 60px;
    }
    .menu-btn .sideNavbar{
        position: fixed;
        min-width: 190px;
        height: 100vh;
        top: 83px;
        left: -100%;
        background: #23252B;
        padding:90px 0;
        overflow-y: auto;
        visibility: hidden;
        transition: 0.5s;
        transition-property: left, visibility;
        display: block;
    }
    .menu-btn .sideNavbar.active{
        left: 0;
        visibility: visible;
    }
    .menu-item a{
        margin: 7px;
        padding: 10px;
    }
    .menu-item.mobile .sub-menu{
        position: absolute;
        display: block;
        top: 70px;
        right: 0;
        background: #23252B;
        line-height: 40px;
        border-radius: 0 0 8px 8px;
        box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
        pointer-events: none;
        opacity: 0;
        transition: 0.3s;
    }
    .mobile{
        display: block;
    }
    .menu-item.mobile:hover .sub-menu{
        pointer-events: all;
        opacity: 1;
    }
    .menu-item.mobile .sub-menu .sub-item{
        position: relative;
        padding: 7px 0;
        cursor: pointer;
        box-shadow: inset 0px -30px 5px -30px rgba(255, 255, 255, 0.2);
    }
    .menu-item.mobile .sub-menu .sub-item:hover{
        background: #4080EF;
    }
    .menu-item.mobile .sub-menu .sub-item:last-child:hover{
        border-radius: 0 0 8px 8px;
    }
    .menu-item.mobile .sub-menu .sub-item a{
        color: #fff;
        font-size: 1em;
        padding: 15px 20px;
    }
    .cart,.login{
        display: none;
    }
    .menu-item i{
        margin: 5px;
    }
    .menu.collections{
        display: none;
    }
   
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .menu-item a{
        margin: 5px;
        padding: 10px;
    }
}


    
    